<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
   <listener class-name="com.qa.report.Listener" />
 </listeners>  
 <test name="Test">
 <parameter name="env" value="QA1"/>
  <parameter name="browser" value="chrome"/>
 <groups>
    <run>
     <include name="UI"/> 
         <!--    <include name="IngestErrorCodes"/> -->
    </run>
  </groups>
<packages>
    <package name="com.test.report"/>
    <package name="com.test.api"/>
    <package name="com.test.ui"/>
</packages>
 
</test> <!-- Test -->
</suite> <!-- Suite -->

